// Basic Colors
$black: #000 !default;
$white: #fff !default;
$red: #f44 !default;
$blue: #1989fa !default;
$orange: #ff976a !default;
$orange-dark: #ed6a0c !default;
$orange-light: #fffbe8 !default;
$green: #07c160 !default;
$gray: #c8c9cc !default;
$gray-light: #e5e5e5 !default;
$gray-darker: #7d7e80 !default;
$gray-dark: #969799 !default;

// Component Colors
$text-color: #323233 !default;
$border-color: #ebedf0 !default;
$active-color: #f2f3f5 !default;
$background-color: #f8f8f8 !default;
$background-color-light: #fafafa !default;

// Padding
$padding-base: 4px;
// 8px
$padding-xs: $padding-base * 2;
// 12px
$padding-sm: $padding-base * 3;
// 16px
$padding-md: $padding-base * 4;
// 24px
$padding-lg: $padding-base * 6;
// 32px
$padding-xl: $padding-base * 8;

// Font Size
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;


// button 按钮变量
$vt-button-size-large: 44px;
$vt-button-size-small: 30px;
$vt-button-size-mini: 22px;
$vt-button-border-radius: 2px;
$vt-button-padding: 15px;
$vt-button-circle: 40px;

// cell 变量