@import './reset.scss';
// Basic Colors
$black: #000 !default;
$white: #fff !default;
$red: #f44 !default;
$blue: #1989fa !default;
$orange: #ff976a !default;
$orange-dark: #ed6a0c !default;
$orange-light: #fffbe8 !default;
$green: #07c160 !default;
$gray: #c8c9cc !default;
$gray-light: #e5e5e5 !default;
$gray-darker: #7d7e80 !default;
$gray-dark: #969799 !default;


$gray-1: #f7f8fa !default;
$gray-2: #f2f3f5 !default;
$gray-3: #ebedf0 !default;
$gray-4: #dcdee0 !default;
$gray-5: #c8c9cc !default;
$gray-6: #969799 !default;
$gray-7: #646566 !default;
$gray-8: #323233 !default;

// Component Colors
$text-color: #323233 !default;
$border-color: #ebedf0 !default;
$active-color: #f2f3f5 !default;
$background-color: #f8f8f8 !default;
$background-color-light: #fafafa !default;

// Padding
$padding-base: 4px;
// 8px
$padding-xs: $padding-base * 2;
// 12px
$padding-sm: $padding-base * 3;
// 16px
$padding-md: $padding-base * 4;
// 24px
$padding-lg: $padding-base * 6;
// 32px
$padding-xl: $padding-base * 8;

// Font Size
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;

// 行高
$font-weight-bold: 500;
$line-height-xs: 14px;
$line-height-sm: 18px;
$line-height-md: 20px;
$line-height-lg: 22px;


// Animation
$animation-duration-base: 0.3s;
$animation-duration-fast: 0.2s;
$animation-timing-function-enter: ease-out;
$animation-timing-function-leave: ease-in;

// Border
$border-color: $gray-3;
$border-width-base: 1px;
$border-radius-sm: 2px;
$border-radius-md: 4px;
$border-radius-lg: 8px;
$border-radius-max: 999px;


// @wang: feat(button)
$vt-button-size-large: 44px;
$vt-button-size-small: 30px;
$vt-button-size-mini: 22px;
$vt-button-border-radius: 2px;
$vt-button-padding: 15px;
$vt-button-circle: 40px;
// @wang: feat(cell)
$vt-cell-font-size: $font-size-md;
$vt-cell-line-height: $padding-lg;
$vt-cell-icon-size: $font-size-lg;
$vt-vertical-padding: $padding-sm;
$vt-cell-horizontal-padding: $padding-md;
$vt-cell-text-color: $text-color;
$vt-cell-background-color: $white;
$vt-cell-border-color: $border-color;
$vt-cell-active-color: $active-color;
$vt-cell-label-color: $gray-6;
$vt-cell-label-font-size: $font-size-sm;
$vt-cell-label-line-height: $line-height-sm;
$vt-cell-label-margin-top: $padding-base;
$vt-cell-value-color: $gray-6;
$vt-cell-right-icon-color: $gray-6;
$vt-cell-large-vertical-padding: $padding-sm;
$vt-cell-large-title-font-size: $font-size-lg; 
$vt-cell-large-label-font-size: $font-size-xs;
// @wang: feat(cell-group)
$vt-cell-group-background-color: $white;
$vt-cell-group-title-color: $gray-6;
$vt-cell-group-title-padding: $padding-md $padding-md $padding-xs;
$vt-cell-group-title-font-size: $font-size-md;
$vt-cell-group-title-line-height: 16px;


// @wang: feat(tag)
$vt-tag-padding: 0 $padding-base;
$vt-tag-text-color: $white;
$vt-tag-font-size: $font-size-sm;
$vt-tag-border-radius: 2px;
$vt-tag-line-height: 16px;
$vt-tag-medium-padding: 2px 6px;
$vt-tag-large-padding: $padding-base $padding-xs;
$vt-tag-large-border-radius: $border-radius-md;
$vt-tag-large-font-size: $font-size-md;
$vt-tag-round-border-radius: $border-radius-max;
$vt-tag-danger-color: $red;
$vt-tag-primary-color: $blue;
$vt-tag-success-color: $green;
$vt-tag-warning-color: $orange;
$vt-tag-default-color: $gray-6;
$vt-tag-plain-background-color: $white;


// @wang: feat(action-sheet)
// ActionSheet
$vt-action-sheet-max-height: 80%;
$vt-action-sheet-header-height: 48px;
$vt-action-sheet-header-font-size: $font-size-lg;
$vt-action-sheet-description-color: $gray-6;
$vt-action-sheet-description-font-size: $font-size-md;
$vt-action-sheet-description-line-height: $line-height-md;
$vt-action-sheet-item-background: $white;
$vt-action-sheet-item-font-size: $font-size-lg;
$vt-action-sheet-item-line-height: $line-height-lg;
$vt-action-sheet-item-text-color: $text-color;
$vt-action-sheet-item-disabled-text-color: $gray-5;
$vt-action-sheet-subname-color: $gray-6;
$vt-action-sheet-subname-font-size: $font-size-sm;
$vt-action-sheet-subname-line-height: $line-height-sm;
$vt-action-sheet-close-icon-size: 22px;
$vt-action-sheet-close-icon-color: $gray-5;
$vt-action-sheet-close-icon-active-color: $gray-6;
$vt-action-sheet-close-icon-padding: 0 $padding-md;
$vt-action-sheet-cancel-text-color: $gray-7;
$vt-action-sheet-cancel-padding-top: $padding-xs;
$vt-action-sheet-cancel-padding-color: $background-color;
$vt-action-sheet-loading-icon-size: 22px;


// Popup
$vt-popup-background-color: $white;
$vt-popup-transition: transform $animation-duration-base;
$vt-popup-round-border-radius: 20px;
$vt-popup-close-icon-size: 22px;
$vt-popup-close-icon-color: $gray-5;
$vt-popup-close-icon-active-color: $gray-6;
$vt-popup-close-icon-margin: 16px;
$vt-popup-close-icon-z-index: 1;

// @wang feat(toast)
$vt-toast-max-width: 70%;
$vt-toast-font-size: $font-size-md;
$vt-toast-text-color: $white;
$vt-toast-loading-icon-color: $white;
$vt-toast-line-height: $line-height-md;
$vt-toast-border-radius: $border-radius-lg;
$vt-toast-background-color: fade($black, 70%);
$vt-toast-icon-size: 36px;
$vt-toast-text-min-width: 96px;
$vt-toast-text-padding: $padding-xs $padding-sm;
$vt-toast-default-padding: $padding-md;
$vt-toast-default-width: 88px;
$vt-toast-default-min-height: 88px;
$vt-toast-position-top-distance: 20%;
$vt-toast-position-bottom-distance: 20%;

// @wang feat(overflow)
$vt-overflow-z-index: 1;
$vt-overflow-background-color: rgba(0, 0, 0, 0.7);