@import './var.scss';

.vt-loading {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  animation:turn 2s linear infinite;

  @keyframes turn{
    0%{transform:rotate(0deg);}
    25%{transform:rotate(90deg);}
    50%{transform:rotate(180deg);}
    75%{transform:rotate(270deg);}
    100%{transform:rotate(360deg);}
  }
}